#map_canvas {
    border: 4px solid black;
    display: block;
    width: 320px;
    height: 480px;
    postion: absolute;
    top: 110px;
    left: 15px;
   
}
#phone-frame {
    display: block;
    width: 360px;
    height: 710px;
    background-image:url("../images/iphone-frame.png");
}